@model OgrenciProjeRepocitory.Models.View.BolumModel
@{
    ViewData["Title"] = "Liste";
}

<h1>Liste</h1>
    <form method="get" action="/Bolum/Giris">
        <input type="submit" value="Yeni Giriş" class="btn btn-primary" />
    </form>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Adı</th>
            <th>Güncelle</th>
            <th>Sil</th>
            <th>Öğrenciler</th>

        </tr>

        @foreach (var item in Model.Blist)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Ad</td>
                <td><a href="/Bolum/Guncel/@item.Id">Güncelle</a></td>
                <td><a href="/Bolum/Sil/@item.Id">Sil</a></td>
                <td><a href="/Ogrenci/ListById/@item.Id" class="btn btn-success">Öğrenciler</a></td>

                <td></td>
            </tr>

        }




    </table>
